body {
    background-image: url("hw1back2.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    color:rgb(24, 31, 66);
    position: relative;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-730%, -700%);
}

/*Styling for the Button*/
button {
    background-color: rgb(24, 31, 66);
    color: beige;
    text-align: center;
    border-radius: 12px;
    transition-duration: 0.4ms;
    padding: 20px 20px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    margin: 0;
    position: relative;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-378%, -240%);
}
button:hover{
    background-color: beige;
    color:rgb(24, 31, 66);
}

/* Container Styling */
.cover {
    width: 950px;
    height: 600px;
    background: #b58fe773;
    margin-top: 50px;
    display: flex;
    color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

.box {
    margin: 5px;
    width: 800px;
    height: 800px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.box1 {
    margin: 5px;
    width: 800px;
    height: 800px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.box2 {
    margin: 5px;
    width: 800px;
    height: 800px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
img {
    width: 300px;
    height: 400px;
    display: flex;
    border-radius: 20%;
    border: solid 3px rgb(24, 31, 66);
}
