body {
    background-image: url("hw1back3.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    color:rgb(24, 31, 66);
    text-align: center;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    color:rgb(24, 31, 66);
    text-align: center;
}
button {
    background-color: rgb(24, 31, 66);
    color: beige;
    text-align: center;
    border-radius: 12px;
    transition-duration: 0.1ms;
    padding: 30px 30px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-125%, -350%);
}
button:hover{
    background-color: beige;
    color:rgb(24, 31, 66);
}
button2 {
    background-color: rgb(24, 31, 66);
    color: beige;
    text-align: center;
    border-radius: 12px;
    transition-duration: 0.1ms;
    padding: 30px 30px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(30%, -365%);
}
button2:hover{
    background-color: beige;
    color:rgb(24, 31, 66);
}
img {
    width: 30%;
    height: 30%;
}
img:onclick{
    width: 10%;
    height: 10%;
}